/* 
	In html only apply this class in a div ==> <div class="wrapper"> Content... </div>
	This css code helps to align any element or a group of element at the center of the page.
*/
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

/* Shadow */

.shadow{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 450px;
	position: relative;
	padding: 10px;
	-webkit-box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
	box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
}
