/* 
	In html only apply this class in a div ==> <div class="wrapper"> Content... </div>
	This css code helps to align any element or a group of element at the center of the page.
*/
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}
